<h3><%= @member.to_s %></h3>
<% if !@member.gyms.empty?%>  
  <div><h4>Gym Memberships:</h4>
  <ul>
    <%@member.gyms.each do |gym|%>
      <li><%= link_to gym.name, gym_path(gym)%></li>
      <% end %>
  </div>
  </ul>
<% else %>
  <h5>This person is not a member of any gyms</h5>
<% end %>
<div>
  <%= link_to "Delete this Member", member_path(@member.id), method: "DELETE" %>
  <%= link_to "Edit this Member", edit_member_path(@member.id)%>
</div>